---
layout: default
title: Fan's Robot Lab
page-title: Explore my Projects!
home-title: Enthusiast of Hardware-Software Fusion
description: In my robotics and VR projects, I seek not just technology, but the enchantment that makes technology fascinating and accessible.
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list"> 
      {% include posts_paginator.html %}
    </ul>
</main>
{% include pageNav.html %}
{% include footer.html %}

